<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Enregistrer une pesée</title>
</head>
<body>
<main>
    <h1>Enregistrer une pesée pour le lot <span th:text="${idLot}"></span></h1>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <form th:action="@{'/lots/' + ${idLot} + '/pesees'}" method="post">

        <div>
            <label class="form-label">Date de pesée :</label>
            <input class="form-control" type="date" name="datePesee" th:value="${datePesee}" required>
        </div>
        <div>
            <label class="form-label">Nombre d'échantillons :</label>
            <input class="form-control" type="number" name="nbEchantillon" th:value="${nbEchantillon}" required>
        </div>
        <div>
            <label class="form-label">Poids Total (kg) :</label>
            <input class="form-control" type="number" step="0.01" name="poidsTotal" th:value="${poidsTotal}" required>
        </div>
        <div>
            <label class="form-label">Observation :</label>
            <textarea class="form-control" name="observation" th:text="${observation}"></textarea>
        </div>
        
        <p>
            <button class="btn btn-primary" type="submit">Enregistrer</button>
            <a class="btn btn-secondary" th:href="@{'/lots/' + ${idLot} + '/pesees'}">Annuler</a>
        </p>
    </form>
</main>
</body>
</html>
