<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Formulaire Rôle</title>
</head>
<body>
<main>
    <h2>Formulaire d'ajout de rôle</h2>

    <form class="form-panel" th:action="@{/roles}" th:object="${role}" method="post">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label class="form-label" for="name">Nom du rôle</label>
            <input class="form-control" type="text" id="name" th:field="*{name}" required>
        </div>

        <div class="d-flex gap-2 mt-4">
            <button class="btn btn-primary" type="submit">Enregistrer</button>
            <a class="btn btn-secondary" th:href="@{/roles}">Retour à la liste</a>
        </div>
    </form>
</main>
</body>
</html>
