<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Formulaire Statut Lot</title>
</head>
<body>
<main>
<h1 th:text="${statut.id} == null ? 'Créer un statut' : 'Modifier statut ' + ${statut.id}"></h1>

<form th:action="${statut.id} == null ? @{/statut-lots} : @{/statut-lots/{id}(id=${statut.id})}" method="post" th:object="${statut}">
    <div>
        <label class="form-label">Libelle:
            <select class="form-select" th:field="*{libelle}">
                <option th:each="val : ${libelles}" th:value="${val}" th:text="${val}"></option>
            </select>
        </label>
    </div>
    <div>
        <label class="form-label">Description: <textarea class="form-control" th:field="*{description}"></textarea></label>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a th:href="@{/statut-lots}">Cancel</a>
    </div>
</form>
</main>
</body>
</html>
