<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Liste Statut Lots</title>
</head>
<body>
<main>
<h1>Liste des Statuts de Lots</h1>
<div><a class="btn btn-primary" th:href="@{/statut-lots/new}">Créer un nouveau statut</a></div>
<table class="table table-hover align-middle">
    <thead>
    <tr>
        <th>ID</th>
        <th>Libelle</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${statuts}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.libelle}"></td>
        <td th:text="${s.description}"></td>
        <td>
            <a th:href="@{'/statut-lots/' + ${s.id}}">View</a>
            <a class="btn btn-sm btn-outline-primary" th:href="@{'/statut-lots/' + ${s.id} + '/edit'}">Edit</a>
            <a class="btn btn-sm btn-outline-danger" th:href="@{'/statut-lots/' + ${s.id} + '/delete'}" onclick="return confirm('Supprimer?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</main>
</body>
</html>
