<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>AquaNova - Form Type Aliment</title>
</head>
<body>
<main>
<h2>Form Type Aliment</h2>

<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<form action="/types-aliments" method="post" th:object="${type}">
    <input type="hidden" th:field="*{id}" />

    Nom :
    <input class="form-control" type="text" th:field="*{nom}" />
    <br/>

    <button class="btn btn-primary" type="submit">Save</button>
</form>
</main>
</body>
</html>
