<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title></title>
</head>
<body>
<main>
    <h1 th:text="${distribution.id != null} ? 'Modifier la distribution' : 'Créer une nouvelle distribution'"></h1>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <form th:action="${distribution.id} == null ? @{/distributions} : @{'/distributions/' + ${distribution.id}}"
          th:object="${distribution}" method="post">

        <div>
            <label class="form-label" for="dateDistribution">Date de distribution :</label>
            <input class="form-control" type="date" id="dateDistribution" th:field="*{dateDistribution}" required />
        </div>

        <br />

        <div>
            <label class="form-label" for="lot">Lot concerné :</label>
            <select class="form-select" id="lot" th:field="*{idLot}" required>
                <option value="">-- Sélectionner un lot --</option>
                <option th:each="l : ${lots}" th:value="${l.id}" th:text="'Lot #' + ${l.id}"></option>
            </select>
        </div>

        <br />

        <div>
            <label class="form-label" for="aliment">Aliment en Stock :</label>
            <select th:field="*{idAliment}" class="form-control" id="aliment" required>
                <option value="">-- Choisir un aliment --</option>
                <option th:each="al : ${aliments}" th:value="${al.id}" th:text="${al.nom}"> </option>
            </select>
        </div>

        <br />

        <div>
            <label class="form-label" for="quantite">Quantité distribuée (kg) :</label>
            <input class="form-control" type="number" step="0.01" id="quantite" th:field="*{quantite}" />
        </div>

        <br />

        <div>
            <label class="form-label" for="rationTheorique">Ration théorique :</label>
            <input class="form-control" type="number" step="0.01" id="rationTheorique" th:field="*{rationTheorique}" />
        </div>

        <br />

        <button class="btn btn-primary" type="submit">Enregistrer</button>
        <a class="btn btn-secondary" th:href="@{/distributions}">Annuler</a>
    </form>
</main>
</body>
</html>
