<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>AquaNova - Formulaire d'ajout d'utilisateur</title>
</head>
<body>
<main>
<h1>Formulaire d'ajout d'utilisateur</h1>

<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<form th:action="@{/users}" th:object="${user}" method="post">
    <label class="form-label" for="name">Nom:</label>
    <input class="form-control" type="text" id="name" th:field="*{name}" required><br>

    <label class="form-label" for="lastname">Prenom:</label>
    <input class="form-control" type="text" id="lastname" th:field="*{lastname}" required><br>

    <label class="form-label" for="email">Email:</label>
    <input class="form-control" type="email" id="email" th:field="*{email}" required><br>

    <label class="form-label" for="password">Mot de passe:</label>
    <input class="form-control" type="password" id="password" th:field="*{password}" required><br>

    <label class="form-label" for="dateHired">Date d'embauche:</label>
    <input class="form-control" type="date" id="dateHired" th:field="*{dateHired}" required><br>

    <button class="btn btn-primary" type="submit">Enregistrer</button>
</form>
</main>
</body>
</html>
