<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>AquaNova - Liste des Stades de Croissance</title>
</head>
<body>
<main>
<h2>Liste des Stades de Croissance</h2>

<a class="btn btn-primary" href="/stade-croissance/new">Ajouter</a>

<table class="table table-hover align-middle">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Poids Min</th>
        <th>Poids Max</th>
        <th>Actions</th>
    </tr>

<tr th:each="s : ${stades}">
    <td th:text="${s.id}"></td>
    <td th:text="${s.nom}"></td>
    <td th:text="${s.poidsMin}"></td>
    <td th:text="${s.poidsMax}"></td>

    <td>
        <a class="btn btn-sm btn-outline-primary" th:href="@{/stade-croissance/{id}(id=${s.id})}">
            Edit
        </a>

        <a class="btn btn-sm btn-outline-danger" th:href="@{/stade-croissance/{id}/delete(id=${s.id})}">
            Delete
        </a>
    </td>
</tr>

</table>
</main>
</body>
</html>
