<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>AquaNova - Form Espece</title>
</head>
<body>
<main>
<h2>Form Espece</h2>

<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<form action="/especes" method="post" th:object="${espece}">
    <input type="hidden" th:field="*{id}" />

    Nom: <input class="form-control" type="text" th:field="*{nom}" /><br/>
    Poids: <input class="form-control" type="number" step="0.01" th:field="*{poidsCibleMoyen}" /><br/>
    Image: <input class="form-control" type="text" th:field="*{image}" /><br/>

    <button class="btn btn-primary" type="submit">Save</button>
</form>
</main>
</body>
</html>
