<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <h2>Relevés de qualité de l'eau</h2>

    <form method="get" action="/releves-eau">

        <input type="text" name="bassin" placeholder="Bassin ref" />

        <input type="date" name="start" />
        <input type="date" name="end" />

        <input type="number" step="0.1" name="minTemp" placeholder="Temp min" />
        <input type="number" step="0.1" name="maxTemp" placeholder="Temp max" />

        <input type="number" step="0.1" name="minPh" placeholder="pH min" />
        <input type="number" step="0.1" name="maxPh" placeholder="pH max" />

        <input type="number" step="0.1" name="minOxy" placeholder="O2 min" />
        <input type="number" step="0.1" name="maxOxy" placeholder="O2 max" />

        <button>Filter</button>
        <a href="/releves-eau">Reset</a>
    </form>

    <br>

    <a href="/releves-eau/new">Nouveau relevé</a>

    <br><br>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Bassin</th>
            <th>Température</th>
            <th>pH</th>
            <th>Oxygène</th>
            <th>Utilisateur</th>
            <th>Alerte</th>
            <th>Action</th>
        </tr>

        <tr th:each="r : ${releves}">

            <td th:text="${r.id}"></td>
            <td th:text="${r.dateReleve}"></td>
            <td th:text="${r.bassin.reference}"></td>
            <td th:text="${r.temperature}"></td>
            <td th:text="${r.ph}"></td>
            <td th:text="${r.oxygene}"></td>
            <td th:text="${r.user.name + ' ' + r.user.lastname}"></td>

            <td>
                <span th:if="${r.temperature > 30
                || r.temperature < 18
                || r.ph > 8.5
                || r.ph < 6.5
                || r.oxygene < 5}" style="color:red;">
                    ⚠
                </span>
            </td>

            <td>

                <a th:href="@{'/releves-eau/' + ${r.id}}">Voir</a>

                <a th:href="@{'/releves-eau/' + ${r.id} + '/edit'}">Modifier</a>

                <form th:action="@{'/releves-eau/' + ${r.id} + '/delete'}" method="post"
                    onsubmit="return confirm('Supprimer ce relevé ?');">
                    <button type="submit">Supprimer</button>
                </form>

            </td>

        </tr>

    </table>

</body>

</html>