<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Référentiel - Saisie Type Bassin</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="container mt-5">

    <h2 class="mb-4" th:text="${typeBassin.id == null ? 'Nouveau Type de Bassin' : 'Modifier le Type'}">Saisie Type</h2>

    <form th:action="@{/referentiel/types-bassins/enregistrer}" th:object="${typeBassin}" method="post"
        class="col-md-6">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="libelle" class="form-label">Nom / Libellé :</label>
            <input type="text" id="libelle" th:field="*{libelle}" class="form-control" required
                placeholder="Ex: Bassin Terre, Happa" />
        </div>

        <button type="submit" class="btn btn-success"
            th:text="${typeBassin.id == null ? 'Créer' : 'Enregistrer'}">Enregistrer</button>
        <a th:href="@{/referentiel/types-bassins}" class="btn btn-secondary">Annuler</a>
    </form>

</body>

</html>