<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>AquaNova</title>
</head>
<body>
<main>
    <h2>Détail mouvement</h2>

    <p>ID : <span th:text="${mouvement.id}"></span></p>
    <p>Date : <span th:text="${mouvement.dateMouvement}"></span></p>
    <p>Aliment : <span th:text="${mouvement.aliment.nom}"></span></p>
    <p>Type : <span th:text="${mouvement.typeMouvement}"></span></p>
    <p>Quantité : <span th:text="${mouvement.quantite}"></span></p>
    <p>Commentaire : <span th:text="${mouvement.commentaire}"></span></p>

    <a class="btn btn-secondary" href="/stocks/mouvements">Retour</a>
    <a class="btn btn-sm btn-outline-primary" th:href="@{'/stocks/mouvements/' + ${mouvement.id} + '/edit'}">Modifier</a>
    <form th:action="@{'/stocks/mouvements/' + ${mouvement.id} + '/delete'}" method="post">
        <button class="btn btn-danger" type="submit">Supprimer</button>
    </form>
</main>
</body>
</html>
