<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Formulaire</title>
</head>
<body>
<main>
    <h2 th:text="${aliment.id == null} ? 'Créer un aliment' : 'Modifier l\'aliment'">Formulaire</h2>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <form th:action="@{/aliments}" th:object="${aliment}" method="post">
        
        <input type="hidden" th:field="*{id}" />

        <p>
            <label class="form-label" for="nom">Nom de l'aliment :</label><br/>
            <input class="form-control" type="text" id="nom" th:field="*{nom}" required />
        </p>

        <p>
            <button class="btn btn-primary" type="submit" th:text="${aliment.id == null} ? 'Créer' : 'Enregistrer les modifications'">Enregistrer</button>
            <a class="btn btn-secondary" th:href="@{/aliments}">Annuler</a>
        </p>
        
    </form>
</main>
</body>
</html>
