<table>
    <thead>
        <tr>
            <th>ID</th><th>Nom</th><th>Type</th><th>Statut</th><th>Bassin</th><th>Installation</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="e : ${equipements}">
            <td th:text="${e.id}"></td>
            <td th:text="${e.nom}"></td>
            <td th:text="${e.typeEquipement.libelle}"></td>
            <td th:text="${e.statut}"></td>
            <td th:text="${e.bassin != null ? e.bassin.nom : 'Général'}"></td>
            <td th:text="${e.dateInstallation}"></td>
            <td>
                <a th:href="@{'/equipements/' + ${e.id}}">Voir</a>
            </td>
        </tr>
    </tbody>
</table>