<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>AquaNova</title>
</head>
<body>
<main>
<h2>Détail stock</h2>

<!-- MAIN INFO -->
<p>Nom : <span th:text="${stock.nom}"></span></p>
<p>Stock : <span th:text="${stock.stock}"></span> kg</p>
<p>Seuil : <span th:text="${stock.seuil}"></span></p>

<p class="error" th:if="${stock.alerte}">
    ⚠ Stock faible
</p>

<!-- DATE FILTER -->
<form method="get">
    <input class="form-control" type="date" name="date"/>
    <button class="btn btn-primary">Changer date</button>
</form>

<!-- RECENT MOVEMENTS -->
<h3>Mouvements récents</h3>

<table class="table table-hover align-middle">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Quantité</th>
    </tr>

    <tr th:each="m : ${mouvements}">
        <td th:text="${m.dateMouvement}"></td>
        <td th:text="${m.typeMouvement}"></td>
        <td th:text="${m.quantite}"></td>
    </tr>
</table>

<!-- BUTTONS -->
<a class="btn btn-secondary" href="/stocks">Retour</a>
<a class="btn btn-sm btn-outline-primary" th:href="@{'/stocks/edit/' + ${stock.id}}">Modifier</a>
<a class="btn btn-sm btn-outline-danger" th:href="@{'/stocks/delete/' + ${stock.id}}">Supprimer</a>
</main>
</body>
</html>
