<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>AquaNova</title>
</head>
<body>
<main>
    <h2>États de stocks</h2>

    <!-- FILTERS -->
    <form method="get" action="/stocks">

        <input class="form-control" type="date" name="date" th:value="${date}" />

        <input class="form-control" type="text" name="nom" placeholder="Nom aliment" />

        <!-- <select class="form-select" name="size">

            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select> -->

        <button class="btn btn-primary" type="submit">Filtrer</button>
    </form>

    <!-- RECAP -->
    <h3>Total stock : <span th:text="${total}"></span> kg</h3>

    <!-- TABLE -->
    <table class="table table-hover align-middle">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Stock</th>
            <th>Seuil</th>
            <th>Action</th>
        </tr>

        <tr th:each="s : ${stocks.content}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.nom}"></td>
            <td th:text="${s.stock}"></td>
            <td th:text="${s.seuil}"></td>
            <td>
                <a class="btn btn-sm btn-outline-primary" th:href="@{'/stocks/' + ${s.id} + '?date=' + ${date}}">Voir</a>
            </td>
        </tr>
    </table>

    <!-- PAGINATION -->
    <div>
        <span th:text="${stocks.number + 1}"></span>
        /
        <span th:text="${stocks.totalPages}"></span>

        <div>
            <a th:if="${stocks.hasPrevious()}"
                th:href="@{/stocks(page=${stocks.number - 1}, size=${stocks.size}, date=${date}, nom=${param.nom})}">
                Prev
            </a>

            <a th:if="${stocks.hasNext()}"
                th:href="@{/stocks(page=${stocks.number + 1}, size=${stocks.size}, date=${date}, nom=${param.nom})}">
                Next
            </a>
        </div>
    </div>
</main>
</body>
</html>
