<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <h1>Saisie Équipement</h1>
    <form th:action="@{/equipements/save}" th:object="${equipement}" method="post">
        <label>Nom :</label> <input type="text" th:field="*{nom}" required /><br/>
        
        <label>Type :</label>
        <select th:field="*{typeEquipement.id}" required>
            <option th:each="t : ${types}" th:value="${t.id}" th:text="${t.libelle}"></option>
        </select><br/>

        <label>Statut :</label>
        <select th:field="*{statut}" required>
            <option th:each="s : ${statuts}" th:value="${s}" th:text="${s}"></option>
        </select><br/>

        <label>Date Installation :</label> <input type="date" th:field="*{dateInstallation}" required /><br/>
        
        <label>Observation :</label> <textarea th:field="*{observation}"></textarea><br/>
        
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>