<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Parc Matériel</title>
</head>
<body>
<main>
<h1>Parc Matériel</h1>

<a th:href="@{/equipements/new}">
    + Nouvel Équipement
</a>

<hr>



<form th:action="@{/equipements}" method="get">

    <label class="form-label">Nom :</label>
    <input class="form-control" type="text"
           name="nom"
           th:value="${param.nom}"
           placeholder="Nom de l'équipement"/>

    <label class="form-label">Type :</label>
    <select class="form-select" name="type">

        <option value="">Tous</option>

        <option th:each="t : ${types}"
                th:value="${t.id}"
                th:text="${t.libelle}"
                th:selected="${param.type != null and param.type[0] == t.id.toString()}">
        </option>

    </select>

    <label class="form-label">Statut :</label>
    <select class="form-select" name="statut">

        <option value="">Tous</option>

        <option th:each="s : ${statuts}"
                th:value="${s}"
                th:text="${s}"
                th:selected="${param.statut != null and param.statut[0] == s.toString()}">
        </option>

    </select>

    <button class="btn btn-primary" type="submit">
        Rechercher
    </button>

    <a th:href="@{/equipements}">
        Réinitialiser
    </a>

</form>

<hr>

<table class="table table-hover align-middle" cellpadding="5">

    <thead>

    <tr>

        <th>ID</th>
        <th>Nom</th>
        <th>Type</th>
        <th>Statut</th>
        <th>Bassin</th>
        <th>Date installation</th>
        <th>Dernière maintenance</th>
        <th>Actions</th>

    </tr>

    </thead>

    <tbody>

    <tr th:if="${#lists.isEmpty(equipements)}">
        <td colspan="8">
            Aucun équipement trouvé.
        </td>
    </tr>

    <tr th:each="e : ${equipements}">

        <td th:text="${e.id}"></td>

        <td th:text="${e.nom}"></td>

        <td th:text="${e.typeEquipement.libelle}"></td>

        <td th:text="${e.statut}"></td>

        <td th:text="${e.bassin != null ? e.bassin.nom : 'Général'}"></td>

        <td th:text="${e.dateInstallation}"></td>

        <td th:text="${e.derniereMaintenance != null ? e.derniereMaintenance : '-'}"></td>

        <td>

            <a class="btn btn-sm btn-outline-primary" th:href="@{/equipements/{id}(id=${e.id})}">
                Voir
            </a>

            |

            <a class="btn btn-sm btn-outline-primary" th:href="@{/equipements/{id}/edit(id=${e.id})}">
                Modifier
            </a>

            |

            <form class="inline-form" th:action="@{/equipements/{id}/delete(id=${e.id})}"
                  method="post"
                 >

                <button class="btn btn-danger" type="submit"
                        onclick="return confirm('Voulez-vous supprimer cet équipement ?');">

                    Supprimer

                </button>

            </form>

        </td>

    </tr>

    </tbody>

</table>
</main>
</body>
</html>
